/******************** GENERAL ********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************** fonts ***************/


/******************** BODY ********************/

body {
    display: flex;
    flex-direction: column;
}
/*************** links ***************/

/*************** headings ***************/


/******************** HEADER ********************/

header {
    min-height: 20vh;
    background-color: #F3E9F1;
}

/******************** MAIN ********************/

/*************** Liste ***************/

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}

.teddyBox {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.teddyLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.teddyImage {
    width: 100%;
}

/*************** Fiche produit ours ***************/

.teddyCard {
    width: 50%;
    margin: 20px;
    border: solid black;
}

.teddyImageCard {
    width: 70%;
}
/******************** FOOTER ********************/
footer {
    min-height: 20vh;
    background-color: #F3E9F1;
}