/******************** GENERAL ********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************** fonts ***************/

/* josefin-sans-300 - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/josefin-sans-v16-latin/josefin-sans-v16-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/josefin-sans-v16-latin/josefin-sans-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/josefin-sans-v16-latin/josefin-sans-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/josefin-sans-v16-latin/josefin-sans-v16-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/josefin-sans-v16-latin/josefin-sans-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/josefin-sans-v16-latin/josefin-sans-v16-latin-300.svg#JosefinSans') format('svg'); /* Legacy iOS */
}

/* marck-script-regular - latin */
@font-face {
    font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/marck-script-v10-latin/marck-script-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Marck Script'), local('MarckScript-Regular'),
    url('../fonts/marck-script-v10-latin/marck-script-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/marck-script-v10-latin/marck-script-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/marck-script-v10-latin/marck-script-v10-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/marck-script-v10-latin/marck-script-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/marck-script-v10-latin/marck-script-v10-latin-regular.svg#MarckScript') format('svg'); /* Legacy iOS */
}


/******************** BODY ********************/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*************** links ***************/

a {
    text-decoration: none;
    color: black;
    font-size: 1.7em;
}

/*************** headings ***************/

h1 {
    font-family: "Marck Script", serif;
    font-size: 3em;
    font-weight: lighter;
    text-align: center;
}

h2 {
    font-family: "Josefin Sans", serif;
    font-size: 2.4em;
    font-weight: lighter;
    text-align: center;
}

h3 {
    font-family: "Marck Script", serif;
    font-size: 1.6em;
    font-weight: lighter;
}

h4 {
    font-family: "Marck Script", serif;
    font-size: 1.3em;
    font-weight: lighter;
    padding-bottom: 10px;
    /*text-align: center;*/
}

/*************** buttons ***************/

.button {
    font-family: "Josefin Sans", serif;
    font-size: 0.9em;
}

/******************** HEADER ********************/

header {
    min-height: 10vh;
    background-color: #F3E9F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: 68px;
    padding-left: 10px;
}

nav {
    font-size: 0.8em;
    padding-right: 30px;
}

nav li {
    padding: 15px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: "Josefin Sans", serif;
}

.cart {
    display: flex;
}

.cartCounter {
    display: flex;
    margin-left: 5px;
}

.fa-shopping-cart {
    font-size: 0.8em;
    align-self: center;
}

.cartCounterNumber {
    align-self: flex-end;
    font-size: 0.6em;
}

/******************** MAIN ********************/

main {
    min-height: 80vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*************** Liste ***************/

.introList {
    margin-top: 15px;
}

.teddiesList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    margin: 0 20px 70px;
}

.teddyBox {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 260px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.teddyBox:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.teddyImage {
    width: 100%;
}

.teddyPrice {
    font-family: "Marck Script", serif;
    font-size: 1.4em;
}

/*************** Fiche produit ours ***************/

.main_product {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/********** section vue détaillée et description ours **********/

.teddyCard {
    display: flex;
    width: 50%;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    align-items: center;
}

.teddyView {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.teddyNameCard {
    font-size: 2em;
    padding-bottom: 10px;
}

.teddyImageCard {
    width: 100%;
}

.teddyDescription {
    display: flex;
    flex-direction: column;
    font-family: "Josefin Sans", serif;
    font-size: 1.5em;
    margin-right: 15px;
    line-height: 1.2em;
}

.teddyPriceCard {
    font-family: "Marck Script", serif;
    font-size: 1.3em;
    text-align: center;
    padding-top: 15px;
}

/********** section options et ajout au panier **********/

.teddyOrderBox {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teddyChoiceBox {
    font-family: "Josefin Sans", serif;
    font-size: 1.5em;
}

.teddyColor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.teddyColorButton {
    width: 45%;
    height: 25px;
    margin-right: 20px;
}

.teddyQuantity {
    display: flex;
    justify-content: space-between;
}

.teddyQuantityButton {
    width: 30%;
    height: 25px;
    margin-right: 20px;
    text-align: right;
}

.teddyQuantityButton.value {
    text-align: right;
}

.teddyOrderButton {
    width: 10%;
    height: 40px;
}

.teddyOrderButton .fas {
    font-size: 1.5em;
}

/*************** Panier et formulaire de contact ***************/

.main_cart {
    display: flex;
    flex-direction: column;
}

.cartAndFormBox {
    display: flex;
    justify-content: space-around;
}

/********** panier **********/

.cartTitle, .formTitle {
    margin-top: 25px;
    margin-bottom: 25px;
}

.cartBloc {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.cartRecapBloc {
    display: flex;
    flex-direction: column;
}

.cartRecap {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.cartProductBox {
    display: flex;
    align-items: center;
    font-family: "Marck Script", serif;
    font-size: 1.8em;
    width: 65%;
}

.cartProductImage {
    width: 35%;
}

.cartProductName {
    padding-left: 40px;
}

.cartProductColor {
    font-size: 0.7em;
}

.cartQuantityBox {
    display: flex;
    width: 20%;
    height: 30px;
}

.cartQuantityMore, .cartQuantityLess {
    width: 40px;
    height: 30px;
    font-family: "Josefin Sans", serif;
    font-size: 1.2em;
    font-weight: bolder;
}

.cartQuantityChamp {
    width: 50px;
    height: 30px;
    font-family: "Josefin Sans", serif;
    font-size: 1.2em;
    font-weight: bolder;
}

.cartPriceBox {
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Josefin Sans", serif;
    font-size: 1.2em;
    font-weight: bolder;
    width: 15%;
    height: 30px;
}

.cartTrashBox {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.cartTotal {
    display: flex;
    order: 1;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cartTotalTitle {
    font-family: "Josefin Sans", serif;
    font-size: 2em;
    align-self: center;
}

.cartTotalChamp {
    font-family: "Josefin Sans", serif;
    font-size: 1.3em;
    font-weight: bold;
    width: 15%;
    height: 40px;
    margin-left: 15px;
}

/********** formulaire **********/

.formBloc {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 15px;
}

.formContact {
    display: flex;
    flex-direction: column;
    font-family: "Marck Script", serif;
    font-size: 1.6em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 5px;
    margin-bottom: 40px;
}

.formBox {
    display: flex;
    margin: 15px;
}

.formLabel {
    width: 30%;
}

.formChampBox {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.formChampInput {
    font-family: "Josefin Sans", serif;
    height: 30px;
    font-size: 1em;
}

.formChampAlert {
    font-size: 0.7em;
    color: blue;
}

.contactValidation {
    font-family: "Josefin Sans", serif;
    font-size: 1em;
    border-style: none;
    font-weight: bold;
    height: 40px;
    padding: 5px 0;
    margin: 15px 120px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.orderValidation {
    width: 20%;
    border-style: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px;
    align-self: center;
    font-family: "Josefin Sans", serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 40px;
}

.contactValidation:hover, .orderValidation:hover {
    background-color: #E5E5E5;
}

/*************** Récapitulatif de commande et remerciements ***************/

.orderSummaryBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderSummaryDetails {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #F3E9F1;
    width: fit-content;
    padding: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 2;
}

.orderSummaryTotalTitle, .orderSummaryNumberTitle, .orderInformations {
    font-family: "Marck Script", serif;
    font-size: 1.5em;
}

.orderSummaryTotalPrice, .orderSummaryNumberId {
    font-family: "Josefin Sans", serif;
    font-size: 1.5em;
}

/******************** FOOTER ********************/

#contact {
    min-height: 10vh;
    background-color: #F3E9F1;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.infos {
    font-family: "Josefin Sans", serif;
    line-height: 1.5;
}

.socialInfos {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.social i {
    font-size: 2em;
}